.message
  .message__upper-info
    .message__upper-info--name
      test-user
    .message__upper-info--date-time
      2019/09/16(Mon) 13:00:00
  .message__text
    test
  
.message
  .message__upper-info
    .message__upper-info--name
      test-user
    .message__upper-info--date-time
      2019/09/16(Mon) 13:00:00
  .message__text
    test