.chat-side
  = render 'side_bar'
      
.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box--title
        test-group
      .main-header__left-box--member
        Member : aaa aaa aaa
    .main-header__right-box
      =link_to "#", class: "edit-btn" do
        Edit
        
  .main-body
    .messages
      = render 'message'

  .main-form
    .form
      .input-box
        %input.input-box__text{placeholder: "type a message", type: "text"}/
        %label.input-box__image{for: "message_image"}
          %i.fa.fa-image
          %input#message_image.input-box__image__file{name:  "message[image]", type: "file"}/
      %input.send-btn{type: "submit", value: "Send"}/

 
      
        




 
